h1{
	text-align:center;
}
  .box1{
  			width: 100%;
  			height: 50%;
            display: flex;
     }
     
  .box2{
  			width: 100%;
  			height: 50%;
            display: flex;
     }
     
#a {
	width: 100%;
	height: 50%;
}

#b {
	width: 100%;
	height: 50%;
}

#c {
	width: 100%;
	height: 50%;
}

#d {
	width: 100%;
	height: 50%;
}



#table-scroll {
  height:400px;
  overflow:auto;  
  margin-top:20px;
}
